{% load i18n %}
<div class="row">
    <label>{{ label }}</label>
    <div class="col-6">
        {% spaceless %}{% for widget in widget.subwidgets %}{% include widget.template_name %}
        {% endfor %}{% endspaceless %}
    </div>
    <div class="col-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                {% if audio %}
                    <a title="{% trans "Play CAPTCHA as audio file" %}" href="{{ audio }}"></a>
                {% endif %}
                <img src="{{ image }}" alt="captcha" class="captcha"/>
            </div>
        </div>
    </div>
</div>

